*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
a{
    text-decoration: none;
}
body{
    background-color: rgb(213, 94, 114);
    display: flex;
	align-items: center;
	justify-content: center;
}
.container {
	background-color: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	overflow: hidden;
	width: 400px;
	margin-top: 70px;
   
}
.header {
 
	background-color: #f8d5d5;
	padding: 25px 45px;
    color: #fff;
}
.form {
	padding: 32px 40px;	
}
.form-control {
	margin-bottom: 5px;
	padding-bottom: 18px;
	position: relative;
	padding-left: 45px;
	padding-right: 45px;
	margin-top: 30px;
    
}
.form-control input {
	border: 3px solid #f0f0f0;
	border-radius: 6px;
	display: block;
    outline: none;
	font-size: 16px;
	padding: 10px;
	width: 100%;
	margin-top: 5px;

}

.form-control i {
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}


.bottom .login{
    background-color:rgb(213, 94, 114);
	border: 3px solid rgb(213, 94, 114);;
	border-radius: 6px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 32%;
	margin-bottom: 20px;
	margin-left: 10px;
}
.bottom .register{
    background-color:rgb(213, 94, 114);
	border: 3px solid rgb(213, 94, 114);;
	border-radius: 6px;
	color: #fff;
	display: block;
	font-size: 16px;
	padding: 10px;
	margin-top: 20px;
	width: 32%;
	margin-bottom: 20px;
	margin-left: 10px;

	
}
.bottom .back{
    background-color:rgb(213, 94, 114);
	border: 3px solid rgb(213, 94, 114);;
	border-radius: 6px;
	color: #fff;
	display: block;
	font-size: 16px;
	 padding: 10px;
	 margin: 20px 10px;

	width: 32%;
	
}
.bottom{
	display: flex;
	justify-content: space-around;
	padding: 0 0 45px;

}
.bottom a{
	text-align: center;
}